@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
/* Global styles */
body {
  margin: 0;
  background-color: #0f172a; /* slate-900 */
  color: #e5e7eb;           /* gray-200 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  @apply bg-white text-slate-800 dark:bg-slate-900 dark:text-gray-100 transition-colors duration-300;
}
}